body { 
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.banner {
    width: 100%;
    max-height: 15vh;
    height: 15vh;
    object-fit: cover;
    object-position: center;
}

.blog-background {
    background-color: #EEE;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-top: -20px;
}

.blog-section {
    text-align: center;
    padding: 50px 0;
}

.blog-section h1 {
    margin-top: 0px; /* Ajuster la marge supérieure selon vos besoins */
    margin-bottom: 10px; /* Ajuster la marge inférieure selon vos besoins */
}



.blog-description {
    margin: 0; 
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

h2 {
    margin: 0; 
}

.blog-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.blog-card {
    flex: 1 1 300px;
    flex-basis: 30%;
    margin: 0 10px 30px;
    padding: 0;
    border: 1.5px solid #aaa;
    border-radius: 10px;
    background-color: #fff;
    text-align: left; /* Aligner le texte à gauche */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

/* Ajout du souligné sous le paragraphe .blog-description */
#blog-description::after {
    content: ''; /* Nécessaire pour créer l'élément */
    display: block; /* Permet d'occuper une ligne entière */
    width: 13%; /* Ajuste la largeur du souligné */
    height: 3px; /* Hauteur de la ligne soulignée */
    background-color: #0d6efd; /* Couleur de la ligne (bleu) */
    margin: 10px auto 0; /* Centrer l'élément avec un espacement au-dessus */
    box-shadow: none; /* Supprime l'ombre bleue */
  }


.blog-title {
    padding: 0; /* Padding pour un léger espacement */
    text-align: left; /* Aligner le texte à gauche */
    margin: 0 0 10px;  /* Supprimer la marge par défaut */
}

.blog-content { 
    padding: 10px; 
}

.blog-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.view-link {
    display: inline-block;
    margin: 10px auto; 
    padding: 5px 15px; 
    background-color: #0d6efd; /* Couleur de fond en bleu */
    color: white; /* Couleur du texte en blanc */
    text-decoration: none;
    border-radius: 10px; 
    border: 2px solid #0d6efd; /* Bordure en bleu */
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; 
}


.view-link:hover {
    background-color: white; 
    color: #0d6efd; 
}

.additional-text {
    margin-top: 10px;
    font-size: 0.9rem; 
    color: black; 
    background-color: rgba(0, 0, 0, 0.05); 
    padding: 5px 10px; 
    border-top: 1.5px solid #ddd; 
}

/* Responsivité */
@media (max-width: 768px) {
    .blog-card {
        flex-basis: 100%; 
        margin: 10px 0; 
    }
}