                                                                                                
/* services.css */
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400; /* Gras 400 pour le corps du texte */
  }
  
  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600; /* Gras 600 pour les titres et <strong> */
  }

/* Par défaut (desktop) */
.banner {
    width: 100%;
    max-height: 15vh;
    height: 15vh; /* Maintenir le ratio de l'image */
    object-fit: cover;  
    object-position: center; /* Centre l'image */
  }
      
 /* Pour les tablettes */
@media (max-width: 1024px) {                                                                                                                                                                                          
    .banner {
      content: url('/public/img/banner-tablette.jpg'); /* Chemin depuis le dossier public */
    }
  }
  
  /* Pour les mobiles */
  @media (max-width: 768px) {
    .banner {
      content: url('/public/img/banner-mobile.jpg'); /* Chemin depuis le dossier public */
    }
  }

/* Ajout pour centrer le dernier pavé sur les petits écrans */
@media (max-width: 768px) {
  .service-card {
    flex-basis: 100%;
    margin: 10px 0; /* Espacement vertical entre les pavés */
  }
  

  h1 {
    font-size: 0.9 rem; /* Réduction de la taille du titre pour les petits écrans */
    white-space: normal; /* Permet le retour à la ligne si nécessaire */
  }

  p {
    font-size: 0.9 rem; /* Réduction de la taille du texte pour les petits écrans */
    overflow: hidden; /* Masquer le texte qui déborde */
    text-overflow: ellipsis; /* Ajouter "..." si le texte déborde */
    white-space: normal; /* Permet le retour à la ligne si nécessaire */
  }
  

  }

  
  /* Styles supplémentaires pour les autres éléments de la page */
 
    
  h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    margin-bottom: 10px;
    overflow-wrap: break-word; /* Permet de couper les mots longs pour qu'ils s'ajustent */
    hyphens: auto; /* Permet aux mots d'être coupés avec des tirets si nécessaire */
    -webkit-hyphens: auto; /* Support pour Safari */
    white-space: normal; /* Permet les retours à la ligne */
  } 

  .offre-services {
    text-align: center; /* Centrer le texte */
    position: relative; /* Pour positionner le souligné */
    margin: 20px 0; /* Ajout de marge en haut et en bas */
}
  
  /* Ajout du souligné sous le paragraphe */
.offre-services::after {
    content: ''; /* Nécessaire pour créer l'élément */
    display: block; /* Permet d'occuper une ligne entière */
    width: 13%; /* (13% de la largeur du parent) */
    height: 3px; /* Hauteur de l'élément */
    background-color: #0d6efd; /* Couleur de fond */
    margin: 10px auto 0; /* Centrer l'élément et ajouter un espace au-dessus */
    box-shadow: none; /* Supprime l'ombre bleue */
}
/* Conteneur principal */ 

.services-section {
  text-align: center; 
  padding: 50px 0;
}

.services-row {
  margin-top: 50px;
}

/* Styles pour les cartes de service */
.service-card {
  flex: 1 1 300px; /* Permet de s'ajuster en fonction de l'espace disponible, avec un minimum de 300px */
  flex-basis: 30%; /* Ajuster à 30% pour inclure la marge */
  margin: 0 10px 30px; /* Marge pour créer un espacement visible */ 
  padding: 20px;
  border: 1px solid #ddd; /* Encadrement léger */
  border-radius: 10px; /* Coins arrondis */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre grisée en bas */
  transition: box-shadow 0.3s ease; /* Transition douce */
  text-align: center; /* Centrer le contenu */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ajout pour aligner le logo et le texte */
}

.service-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Augmente l'ombre au survol */
}

/* Conteneur des services */
/* Alignement des pavés dans une grille responsive */
.services-container {
  display: flex;
  justify-content: space-between; /* Espacement égal entre les pavés */
  flex-wrap: wrap; /* Permet de revenir à la ligne sur petits écrans */
  margin: 0 auto; /* Centrer le conteneur */
  padding: 20px; /* Espace intérieur au conteneur */
  max-width: 1200px; /* Largeur maximale du conteneur */
}



.service-logo {
  font-size: 50px;
  margin-bottom: 5px;
  padding: 15px;
  border-radius: 50%;
  display: inline-block;
  text-align: center; /* Centrer le logo dans son conteneur */
  height: 80px; /* Hauteur fixe pour uniformiser */  
  transition: transform 0.3s ease; /* Ajout d'une transition pour l'effet de transformation */
}


.service-logo:hover {
  transform: scale(1.1); /* Augmente légèrement la taille au survol */
}



h2 {
  font-size: 1.5rem;
  margin-bottom: 5px; /* Permet d'ajuster la marge pour uniformiser l'espacement */
  min-height: 60px; /* Hauteur minimale pour aligner les titres */
  overflow-wrap: break-word; /* Permet de couper les mots longs pour qu'ils s'ajustent */
  hyphens: auto; /* Permet aux mots d'être coupés avec des tirets si nécessaire */
  -webkit-hyphens: auto; /* Support pour Safari */
  white-space: normal; /* Permet les retours à la ligne */
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  }

.service-card p {
  font-size: 1.1rem; /* Taille du texte pour les paragraphes */
  color: #444; /* Couleur du texte */
  text-align: center; /* Permet de justifier le texte */
  overflow-wrap: break-word; /* Permet de couper les mots longs pour qu'ils s'ajustent */
  hyphens: auto; /* Permet aux mots d'être coupés avec des tirets si nécessaire */
  -webkit-hyphens: auto; /* Support pour Safari */
  white-space: normal; /* Permet les retours à la ligne */
  margin-bottom: 0; /* Permet d'ajuster la marge pour uniformiser l'espacement */
  margin-top: 0px; /* S'assurer que le texte démarre après le titre */
  flex-grow: 1; /* Permet d'occuper l'espace disponible */
   }

  p {
    color: #444; /* Couleur du texte */
    overflow-wrap: break-word; /* Permet de couper les mots longs pour qu'ils s'ajustent */
    hyphens: auto; /* Permet aux mots d'être coupés avec des tirets si nécessaire */
    -webkit-hyphens: auto; /* Support pour Safari */
    white-space: normal; /* Permet les retours à la ligne */
    margin-bottom: 0; /* Permet d'ajuster la marge pour uniformiser l'espacement */
    margin-top: 0px; /* S'assurer que le texte démarre après le titre */
    flex-grow: 1; /* Permet d'occuper l'espace disponible */
    }

p strong {
  font-weight: 600;
}

p u {
  text-decoration-color: black;
}

p em {
  font-style: italic;
}


.services-background {
  background-color:#EEE; /* Couleur grise */
  padding: 20px; /* Ajoute de l'espace autour du contenu */
  border-radius: 10px; /* Arrondir les coins, optionnel */
  width: 100%; /* Prendre toute la largeur disponible */
  margin-top: -20px; /* Ajustement pour le chevauchement éventuel */
}

/* Premier et deuxieme logo - Écran d'ordinateur rempli */

.inverted-colors-screen {
  background-color: white;
  padding: 20px;
  display: inline-block;
  }
  
.inverted-colors-screen i {
  color: #0d6efd;
  font-size: 3rem;
}

/* Deuxieme logo - Écran d'ordinateur rempli */

